body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#container{

    position:relative;
    margin-top: 5vw;
    background-image: url("../image/mapa.png") ;
    background-repeat: no-repeat;

}

div.brick{
    background-color: transparent;


}

div.road {
    background-color: transparent;
}


div.row {
    height:20px;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px;
}


div.brick{
    background-color: transparent;

}

div.road {
    background-color: transparent;
}

div#car{
    background-image: url(../image/car_red.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 4.5%;
    height: 3%;
    position: absolute;
}

div#score{
    border: 0.3em solid black;
    width: 1.5em;
    height: 1.5em;
    color: black;
    padding: 7px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 99%;
}

div.fuel {
    background-image: url(../image/fuel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.down{

    transform: rotate(-90deg);

}
.up{

    transform: rotate(90deg);
}
.right{

}
.left{
    transform: rotate(180deg);
}


div#police{
    background-image: url(../image/car.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7%;
    height: 7%;
    position: absolute;
}



.down{

    transform: rotate(-90deg);

}
.up{

    transform: rotate(90deg);
}
.right{

}
.left{
    transform: rotate(180deg);
}

